/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
header{
	background-color: #4E78A0;
	text-align: center;
	width: 100%;
	height: 45px;	
	box-shadow: black 3px 3px 3px 
}
h1{
	color: black;
	text-shadow: grey 1.5px 1px 1px
}
#main {
	float: right;
	margin-top: -140px;
}
#main_recipe{
	float: right;
	margin-top: -180px;
}
th{
 padding-right: 30px;
}
td{
 padding-right: 30px;
}


