
/* * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
a{
	color:black;
	
}
a:hover{
	text-decoration: none;
	}
*{
   margin:0;
   padding:0;
   font-family: Arial;
}
header{
	position: relative;
	background-image:url("bg.jpg");
	text-align: left;
	width: 600;
	height: 300px;	
	box-shadow: black 3px 3px 3px
	-webkit-box-shadow: 0px 2px 18px 4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 18px 4px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 18px 4px rgba(0,0,0,0.75);
}
context {
	margin: 0 auto;
	width: 200px;
}
h1{
	font-size: 70px;
	color: white;
	text-shadow: grey 3px 3px 3px ;

}
#main {
	float: right;
	margin-top: -63px;
}

th{
 font-size: 30px;
 width: 0%;
 padding-right: 30px;
 padding-left: 0px;

}
td{
 border: 1px;
 width: 30%;
 padding-left: 20px;
}
body{
	margin-left: 12%;
	float: left;
	width: 800px;

}
table {
	margin-top: 10px;
}